body {
  margin: 0;
  padding: 0;
  background-color: #2ecc71;
  text-align: center;
  line-height: 1;
}

h2 {
  margin: 40px 0;
  color: #27ae60;
}

.container {
  margin: 50px auto;
}

#canvas {
  margin: 0 auto 15px auto;
  max-width: 480px;
  height: 450px;
  border-radius: 20px;
  border: 30px solid #e74c3c;
  background-color: #fff;
  overflow: hidden;
}

.grid-item {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
}

.colored {
  background-color: #333;
}

.text {
  color: #27ae60;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
  font-weight: 700;
}

button#clear {
  margin-right: 50px;
}
